* {
  box-sizing: border-box;
}

:root {
  height: 100%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background: linear-gradient(0deg,rgb(72, 77, 122) 0%,  rgb(226, 237, 243) 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 5px 5px;
  
}

.list__item {
  padding: 5px;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  position: relative;
  will-change: transform;
}

img {
  border-radius: 8px;
  padding: 5px;
  max-height: 75vh;
}

.charatag {
  padding: 10px 20px;
  background: rgb(50, 41, 73);
  border-radius: 10px;

}

.tumblrico {
float: right;
}

.list__item.is-idle .drag-handle {
  cursor: grab;
}

.list__item.is-idle {
  transition: 0.25s ease transform;
}

.list__item.is-draggable,
.list__item.is-draggable .drag-handle {
  cursor: grabbing;
}





