
#character-chart img {
  max-width: none;
  padding: 5px;
  max-height: 80vh;
  pointer-events: none;
}
#character-chart {
  scrollbar-color: rgba(255, 255, 255, 0.315) rgba(50, 41, 73, 0.295);
}

/* won't work with tailwind? idk man I'm confused */
.label {
  padding: 10px 20px;
}
/* not gonna try adding this to tailwind lol */
.label h1 {
  font-size: 20px;
  padding: 0px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: -20px;
}

/* don't replace this with tailwind */
.js-drag-handle {
  cursor: grab;
}
/* try this with tailwind later */
.description-container {
  background: rgba(50, 41, 73, 0.295);
}

button {
  cursor: pointer;
  max-width: 50%;
  min-width: 30px;
  background-color: rgba(41, 27, 48, 0);
  border-radius: 10px;
  border-color: rgba(41, 27, 48, 0);
  color: white;
}

.list__item.is-idle {
  transition: 0.25s ease transform;
}

.list__item.is-draggable,
.list__item.is-draggable .drag-handle {
  cursor: grabbing;
}





